<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="inertial_macros.xacro"/>

 

    <joint name="camera_joint" type="fixed">
        <parent link="base_link"/>
        <child link="camera"/>
        <origin xyz="0.25 0 0.075"/>
    </joint>

    <link name="camera">
        <visual>
            <material name="blue"/>
            <geometry>
                <box size="0.01 0.05 0.05"/>
            </geometry>
        </visual>
        <collision>
            <geometry>
                <box size="0.05 0.1 0.1"/>
            </geometry>
        </collision>
        <xacro:inertial_box mass="0.1" x="0.05" y="0.1" z="0.1">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:inertial_box>
    </link>
    <joint name="camera_optical_joint" type="fixed">
        <parent link="camera"/>
        <child link="camera_optical"/>
        <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}"/>
    </joint>
    <link name="camera_optical">
    </link>

    <gazebo reference="camera">
        <material>Gazebo/Blue</material>
        <sensor name="cam" type="camera">
            <pose>0 0 0 0 0 0</pose>
            <visualizer>true</visualizer>
            <update_rate>15</update_rate>
            <camera>
                <horizontal_fov>1.089</horizontal_fov>
                <image>
                    <format>R8G8B8</format>
                    <width>640</width>
                    <height>480</height>
                </image>
                <clip>
                    <near>0.05</near>
                    <far>8.0</far>
                </clip>
            </camera>
            <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
                <frame_name>camera_optical</frame_name>
            </plugin>
        </sensor>
    </gazebo>
</robot>